:root {
  --black: #151515;
  --darkred: #a91d3a;
  --lightred: #C73659;
  --white: #EEEEEE;
}

.App {
  text-align: center;
  background-color: var(--black);
  min-height: 100dvh;
  color: var(--white);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
  text-align: center;
}