:root {
  --black: #151515;
  --darkred: #a91d3a;
  --lightred: #C73659;
  --white: #EEEEEE;
}

.App {
  text-align: center;
  background-color: var(--black);
  min-height: 100dvh;
  color: var(--white);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-block: 20px;
  background-color: var(--darkred);
}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  width: 50%;
}

.navbar ul li a{
  text-decoration: none;
  color: var(--black);
  font-size: 20px;
  background-color: var(--white);
  padding: 5px 10px;
  border-radius: 8px;
}

.container {
  text-align: center;
}