:root {
  --black: #151515;
  --darkred: #a91d3a;
  --lightred: #C73659;
  --white: #EEEEEE;
}

.App {
  text-align: center;
  background-color: var(--black);
  min-height: 100dvh;
  color: var(--white);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.App img {
  width: 100%;
  height: calc(100dvh - 4rem - 30px);
  opacity: .5;
  z-index: 0;
}

.container {
  text-align: center;
}

.matrix-effect {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  width: 100vw;
  height: calc(100dvh - 2rem - 30px);
  top: calc(2rem + 30px);
  overflow: hidden;
}

.matrix-string{
  text-align: left;
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: green;
  white-space: nowrap;
  font-size: 1.5rem;
  font-weight: bold;
  user-select: none;
  z-index: 1;
}

.matrix-effect .top{
  animation: scroll-down-top 5s linear infinite;
}

.matrix-effect .bottom{
  animation: scroll-down-bottom 5s linear infinite;
}

@keyframes scroll-down-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100dvh);
  }
}

@keyframes scroll-down-bottom {
  0% {
    transform: translateY(-100dvh);
  }
  100% {
    transform: translateY(0);
  }
}